html, body{
  height: 100%;
}
body{
  margin: 0px;
}

.flexRow{
  display: flex;
  flex-direction: row;
}

.flexColumn{
  display: flex;
  flex-direction: column;;
}

.flex(@f: 1){
  flex: @f;
}

.rounded(@r: 5px){
  -webkit-border-radius: @r;
  -moz-border-radius: @r;
  border-radius: @r;
}

@import "common/general.less";
@import "login/login.less";
