@import "common/vendor/materialize/css/materialize.min.less";

html, body{
  height: 100%;
}
body{
  margin: 0px;
  font-family: Arial;
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0px;
}

.flexRow{
  display: flex;
  flex-direction: row;
}

.flexColumn{
  display: flex;
  flex-direction: column;;
}

.flex(@f: 1){
  -webkit-box-flex: @f;
  -moz-box-flex: @f;
  -webkit-flex: @f;
  -ms-flex: @f;
  flex: @f;
}

.calcLeft(@i, @j){
  left: ~"calc(@{i} - @{j})";
}

.calcTop(@i, @j){
  top: ~"calc(@{i} - @{j})";
}

.calcWidth(@i, @j){
  width: ~"calc(@{i} - @{j})";
}

.calcHeight(@i, @j){
  height: ~"calc(@{i} - @{j})";
}

.calcMinWidth(@i, @j){
  min-width: ~"calc(@{i} - @{j})";
}

.calcMinHeight(@i, @j){
  min-height: ~"calc(@{i} - @{j})";
}


.calcBackgroundSize(@i, @j){
  -webkit-background-size: ~"calc(@{i} - @{j})";
  -moz-background-size: ~"calc(@{i} - @{j})";
  -o-background-size: ~"calc(@{i} - @{j})";
  background-size: ~"calc(@{i} - @{j})";
}

.rounded(@r: 5px){
  -webkit-border-radius: @r;
  -moz-border-radius: @r;
  border-radius: @r;
}

@white: #ffffff;
@greenDark: #273238;
@dark: #292929;
@black: #323232;

@import "common/general.less";
@import "home/home.less";
@import "navBar/navBar.less";
@import "sideBar/sideBar.less";
@import "login/login.less";
