.login{
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url('../images/main/background.jpg') no-repeat center;
  .login-form{
    width: 50%;
    margin: 0px 25%;
    .login-field{
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}
