.navbar {
  @include flexRow;
  background: $greenDark;
  color: $white;
  position: fixed;
  z-index: 100;
  top: 0px;
  height: $navHeight + 1;

  .navbar-icon-container {
    padding: 0 10px;
  }

  .navbar-title-container {
    @include flex();
    padding: 0 10px;
    z-index: 100;

    .navbar-title {
      font-size: 32px;
      line-height: $navHeight;
    }
  }

  .navbar-options-container {
    @include flexRow;
    padding: 0 10px;
  }

}
