.navbar {
  @include flexRow;
  background: $greenDark;
  color: $white;

  .navbar-icon-container {
    padding: 0 10px;
  }

  .navbar-title-container {
    @include flex();
    padding: 0 10px;

    .navbar-title {
      font-size: 32px;
      line-height: 64px;
    }
  }

  .navbar-options-container {
    @include flexRow;
    padding: 0 10px;
  }

}
