.cards {
  .card {
    .card-content{
      z-index: 1;
    }
    .card-action {
      padding: 10px;
      z-index: 1;
    }
    .card-icon-button {
      padding: 0 5px;
    }
  }

  .col{
    z-index: 1;
  }
}
