$mainBackground: #454F79;
$loderAlphaBackground: rgba($mainBackground, 0.8);
$mainAlphaBackground: rgba($mainBackground, 0.95);

$white: #ffffff;
$greenDark: #273238;
$dark: #292929;
$black: #323232;
