.general {
  @include flexColumn;
  display: block;
  min-height: 100%;
  min-width: 300px;

  .general-section {
    @include flexRow;
    @include calcMinHeight(100vh, $navHeight);
    margin-top: 64px;

    .general-content {
      @include flexColumn;
      @include flex();
      margin-left: 50px;
    }

    .general-block {
      @include flexColumn;
    }

    .general-cardicon-button i{
      color: #273238;
    }
  }
}
