@mixin flexRow {
  display: flex;
  flex-direction: row;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

@mixin flex($f: 1) {
  -webkit-box-flex: $f;
  -moz-box-flex: $f;
  -webkit-flex: $f;
  -ms-flex: $f;
  flex: $f;
}

@mixin calcLeft($i, $j) {
  left: calc(#{$i} - #{$j});
}

@mixin calcTop($i, $j) {
  top: calc(#{$i} - #{$j});
}

@mixin calcWidth($i, $j) {
  width: calc(#{$i} - #{$j});
}

@mixin calcHeight($i, $j) {
  height: calc(#{$i} - #{$j});
}

@mixin calcMinWidth($i, $j) {
  min-width: calc(#{$i} - #{$j});
}

@mixin calcMinHeight($i, $j) {
  min-height: calc(#{$i} - #{$j});
}


@mixin calcBackgroundSize($i, $j) {
  -webkit-background-size: calc(#{$i} - #{$j});
  -moz-background-size: calc(#{$i} - #{$j});
  -o-background-size: calc(#{$i} - #{$j});
  background-size: calc(#{$i} - #{$j});
}

@mixin rounded($r: 5px) {
  -webkit-border-radius: $r;
  -moz-border-radius: $r;
  border-radius: $r;
}

@mixin backFixed {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
