.section-overlay{
  @include flexColumn;
  @include backFixed;
  background: transparent;
  z-index: 101;
  .section-overlay-content{
    @include flexColumn;
    min-height: 100%;
    overflow-y: auto;
    z-index: 1;
  }
  .section-overlay-head{
    @include flexRow;
    flex-shrink: 0;
    .section-overlay-title{
      @include flex();
    }
  }
  .section-overlay-body{
    @include flex();
  }
}
