.sidebar {
  @include flexColumn;
  @include calcHeight(100%, 64px);
  background: $black;
  color: $white;
  width: 50px;
  position: fixed;
  z-index: 10;
  overflow-y: auto;

  .sidebar-icon {
    color: $white;
    display: block;
    padding: 5px 0;
    text-align: center;
  }
}
