.login {
  @include flex();
  @include flexColumn;
  @include calcMinHeight(100vh, 0px);
  background: url('#{getImageUrl()}/main/background.jpg') fixed center no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  justify-content: center;
  padding: 10px;

  .login-form {
    background: $white;
    margin: 0 auto;
    padding: 10px 0px;
    max-width: 300px;
    min-width: 250px;
  }

  .login-title {
    margin: 0;
    padding: 10px;
  }

  .login-field {
  }
}
